<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <ion-row style="padding: 25px 0px 0px">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">

      </ion-col>
      <ion-col size="7" style="text-align: center;padding: 0px;">
        <div class="toolbar_heading clr_heading sf_pro_display">Explore</div>
      </ion-col>
      <ion-col size="2.6" style="text-align: end;right: 15px;">
        <img (click)="user.goToNotifications()" src="assets/images/icons/bell_icon.svg">
      </ion-col>

    </ion-row>
    <!-- <div class="header_padding">
      <div class="header">
        <img src="../../assets/images/icons/side_menu_icon.svg" alt="">
        <div class="toolbar_heading clr_heading sf_pro_display">Explore</div>
        <img (click)="user.goToNotifications()" src="../../assets/images/icons/bell_icon.svg" alt="">
      </div>
    </div> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background_content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="container">
    <div class="searchbar_padding">
      <ion-searchbar [debounce]="1000" (ionChange)="handleChange($event)" type="text" show-clear-button="always"
        class="sf_pro_display search_bar" placeholder="" (ionClear)="clearResult()">
      </ion-searchbar>
    </div>

    <div class="mgt_18 pd_5">
      <swiper [config]="{slidesPerView:2.4, spaceBetween:20, initialSlide:0, speed:400}" [pagination]="false">
        <ng-template swiperSlide>
          <div (click)="selectSlide(1)">
            <ion-button class="small_btn slide_btn width_115 font_14_400 sf_pro_display" fill="outline"
              [class.active_slide]="slide1 == true">All</ion-button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="selectSlide(2)">
            <ion-button class="small_btn slide_btn width_115 font_14_400 sf_pro_display"
              [class.active_slide]="slide2 == true" fill="outline">Food</ion-button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="selectSlide(3)">
            <ion-button class="small_btn slide_btn width_115 font_14_400 sf_pro_display" fill="outline"
              [class.active_slide]="slide3 == true">Tech</ion-button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="selectSlide(4)">
            <ion-button class="small_btn slide_btn width_115 font_14_400 sf_pro_display" fill="outline"
              [class.active_slide]="slide4 == true">Entertainment</ion-button>
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div (click)="selectSlide(5)">
            <ion-button class="small_btn slide_btn width_115 font_14_400 sf_pro_display" fill="outline"
              [class.active_slide]="slide5 == true">Education</ion-button>
          </div>
        </ng-template>

      </swiper>
    </div>

    <div *ngIf="slide1 == true">
      <div class="mgt_18 pd_lr_8">
        <div class="font_18_700 sf_pro_display clr_heading">Surveys</div>
      </div>

      <div class=" mgt_20 ">
        <div class="flex_center space_between card_header pd_12">
          <div>
            <div class="font_14_500 clr_heading sf_pro_display">What type of food do you like most?</div>
            <div class="font_12_500 clr_text sf_pro_display flex_center mgt_8">( 1 Question ) <img class="mgl_8 mgr_6"
                src="../../assets/images/icons/time_icon.svg" alt=""> 10 min</div>
          </div>
          <div class="right">
            <ion-button class="small_btn card_btn font_14_400 sf_pro_display" fill="outline">Food</ion-button>

            <div class="flex_center font_12_500 sf_pro_display clr_text mgt_7">
              <img class="mgr_6" src="../../assets/images/icons/reward_icon.svg" alt="">
              10 points
            </div>
          </div>
        </div>

        <div class="pd_10 card1_con_bg">
          <div class="flex_center space_between card_con1_choice" (click)='updateChoice(1)'>
            <div class="sf_pro_display font_14_400 clr_heading">Chinese</div>
            <div>
              <img *ngIf="choice1==true" src="../../assets/images/icons/radio_colored.svg" alt="">
              <img *ngIf="choice1==false" src="../../assets/images/icons/radio_empty.svg" alt="">
            </div>
          </div>
          <div class="flex_center space_between card_con1_choice mgt_10" (click)='updateChoice(2)'>
            <div class="sf_pro_display font_14_400 clr_heading">Italian</div>
            <div>
              <img *ngIf="choice2==true" src="../../assets/images/icons/radio_colored.svg" alt="">
              <img *ngIf="choice2==false" src="../../assets/images/icons/radio_empty.svg" alt="">
            </div>
          </div>
          <div class="flex_center space_between card_con1_choice mgt_10" (click)='updateChoice(3)'>
            <div class="sf_pro_display font_14_400 clr_heading">Fast Food</div>
            <div>
              <img *ngIf="choice3==true" src="../../assets/images/icons/radio_colored.svg" alt="">
              <img *ngIf="choice3==false" src="../../assets/images/icons/radio_empty.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class=" mgt_20 ">
        <div class="flex_center space_between card_header pd_12">
          <div>
            <div class="font_14_500 clr_heading sf_pro_display">What are the qualities of a good PC?</div>
            <div class="font_12_500 clr_text sf_pro_display flex_center mgt_8">( 1 Question ) <img class="mgl_8 mgr_6"
                src="../../assets/images/icons/time_icon.svg" alt=""> 10 min</div>
          </div>
          <div class="right">
            <ion-button class="small_btn card_btn font_14_400 sf_pro_display" fill="outline">Tech</ion-button>

            <div class="flex_center font_12_500 sf_pro_display clr_text mgt_7">
              <img class="mgr_6" src="../../assets/images/icons/reward_icon.svg" alt="">
              10 points
            </div>
          </div>
        </div>

        <div class="pd_10 card2_con_bg ">
          <textarea placeholder="Type your answer here"
            class="font_14_500 bg_white width_100_per sf_pro_display card2_textarea_height text_area" name="" id=""
            cols="30" rows="5"></textarea>
        </div>

      </div>

      <div class=" mgt_20 ">
        <div class="flex_center space_between card_header pd_12">
          <div>
            <div class="font_14_500 clr_heading sf_pro_display">Rules to design a good app</div>
            <div class="font_12_500 clr_text sf_pro_display flex_center mgt_8">( 1 Question ) <img class="mgl_8 mgr_6"
                src="../../assets/images/icons/time_icon.svg" alt=""> 10 min</div>
          </div>
          <div class="right">
            <ion-button class="small_btn card_btn font_14_400 sf_pro_display" fill="outline">Tech</ion-button>

            <div class="flex_center font_12_500 sf_pro_display clr_text mgt_7">
              <img class="mgr_6" src="../../assets/images/icons/reward_icon.svg" alt="">
              10 points
            </div>
          </div>
        </div>

        <div class="pd_10 card3_con_bg ">
          <div>
            <div class="sf_pro_display font_16_500 clr_heading">How to decide main colors?</div>
            <textarea placeholder="Type here"
              class="font_14_500 sf_pro_display bg_white width_100_per text_area card3_textarea_height mgt_10" name=""
              id="" cols="30" rows="5"></textarea>
          </div>
          <div class="mgt_8">
            <div class="sf_pro_display font_16_500 clr_heading">How to create theme?</div>
            <textarea placeholder="Type here"
              class="font_14_500 sf_pro_display bg_white width_100_per text_area card3_textarea_height mgt_10" name=""
              id="" cols="30" rows="5"></textarea>
          </div>

        </div>

      </div>
    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button class="bg_F7F8F8" (click)="homeTab()">
        <img src="../../assets/images/tab_icons/home_def.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="exploreTab()">
        <img src="../../assets/images/tab_icons/explore_active.svg" alt="">

      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="supportTab()">
        <img src="../../assets/images/tab_icons/support_def.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="profileTab()">
        <img src="../../assets/images/tab_icons/profile_def.svg" alt="">
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>