<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <ion-row style="padding:10px 0px 0px;align-items: center;">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/icons/side_menu_icon.svg">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7" style="text-align: center;padding: 0px;">
        <div class="toolbar_heading clr_heading sf_pro_display">Change Password</div>
      </ion-col>
      <ion-col size="2.6" style="text-align: end;right: 15px;">
      </ion-col>

    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="input_lbl clr_heading sf_pro_display mgt_15">Old Password</div>

    <div class="input_with_icon pdr_18">
      <ion-input type="{{getPwdType1}}" inputmode="text" class="sf_pro_display" placeholder="*******"
        [(ngModel)]="password"></ion-input>
      <ion-icon style="color: #828282;" name="eye" *ngIf="showPassword1==false"
        (click)="toggleGetType1('pwd')"></ion-icon>
      <ion-icon style="color: #828282;" name="eye-off" *ngIf="showPassword1==true"
        (click)="toggleGetType1('pwd')"></ion-icon>
    </div>

    <div class="input_lbl clr_heading sf_pro_display mgt_15">New Password</div>

    <div class="input_with_icon pdr_18">
      <ion-input type="{{getPwdType2}}" inputmode="text" class="sf_pro_display" placeholder="*******"
        [(ngModel)]="newpassword"></ion-input>
      <ion-icon style="color: #828282;" name="eye" *ngIf="showPassword2==false"
        (click)="toggleGetType2('pwd')"></ion-icon>
      <ion-icon style="color: #828282;" name="eye-off" *ngIf="showPassword2==true"
        (click)="toggleGetType2('pwd')"></ion-icon>
    </div>

    <div class="input_lbl clr_heading sf_pro_display mgt_15">Confirm Password</div>

    <div class="input_with_icon pdr_18">
      <ion-input type="{{getPwdType3}}" inputmode="text" class="sf_pro_display" placeholder="*******"
        [(ngModel)]="confirmpassword"></ion-input>
      <ion-icon style="color: #828282;" name="eye" *ngIf="showPassword3==false"
        (click)="toggleGetType3('pwd')"></ion-icon>
      <ion-icon style="color: #828282;" name="eye-off" *ngIf="showPassword3==true"
        (click)="toggleGetType3('pwd')"></ion-icon>
    </div>

    <div class="mgt_40">
      <ion-button (click)="updatePassword()" expand="block" size="large"
        class="btn sf_pro_display btn_solid_primary ">Update</ion-button>
    </div>
  </div>
</ion-content>