<ion-content [fullscreen]="true">
  <img src="../../assets/images/back.png" style="width: 32px;
  margin: 20px 0px 0px 10px;" (click)="goback()">
  <div class="wrapper">
    <div style="margin-top: 10px; width: 100%; text-align: center">
      <img src="../../assets/images/time_management.png" alt="">
    </div>
    <div class="top_heading sf_pro_display clr_white">Forgot Password?</div>
    <div class="top_heading sf_pro_display clr_white" style="font-size: 20px !important;">Please enter 4 digit code you
      received on {{userEmail}}</div>

    <ion-row style="display: flex;
      justify-content: center;
      margin-top: 10%;">
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
    </ion-row>


    <ion-button expand="block" size="large" class="btn sf_pro_display btn_solid_primary c-btn"
      (click)="goNext()">Reset</ion-button>


  </div>
</ion-content>