ion-content{
  background-color: black;
  --background: url('../../assets/images/backgruond_img.svg') no-repeat center center / cover;
}
.wrapper{
  width: 90%;
  margin:0% auto 0%;
}
.c-btn{
  width: 90%;
  position: fixed;
  bottom: 35px;
}
