<ion-content [fullscreen]="true">
  <img src="../../assets/images/back.png" style="width: 32px;
  margin: 20px 0px 0px 10px;" (click)="back()">

  <div class="wrapper">
    <div class="center">
      <img src="../../assets/images/time_management.png" alt="">
      <div class="top_heading sf_pro_display clr_white">Reset Password</div>
    </div>


    <div class="input_lbl clr_white sf_pro_display" style="margin-top: 8%;">Password</div>
    <input type="password" inputmode="email" class="sf_pro_display mgt_10 c-input" placeholder="*********"
      [(ngModel)]="pass">

    <div class="input_lbl clr_white sf_pro_display" style="margin-top: 8%;">Confirm Password</div>
    <input type="password" inputmode="email" class="sf_pro_display mgt_10 c-input" placeholder="*********"
      [(ngModel)]="cpass">


    <div>
      <ion-button expand="block" size="large" class="btn sf_pro_display btn_solid_primary c-btn"
        (click)="reset()">Reset</ion-button>
    </div>

  </div>

</ion-content>