// ion-content{
//   background-color: black;
//   --background: url('../../assets/images/backgruond_img.svg') no-repeat center center / cover;
// }

.wrapper{
  width: 90%;
  margin: 0% auto;
}

.c-input{
  border: none;
    background: #fff;
    box-shadow: none;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    color: #404142;
    border-radius: 10px;
}
.c-btn{
  width: 90%;
  position: fixed;
  bottom: 35px;
}
