

/// delete account css/////
.wrapper {
  bottom: 0px;
  width: 100%;
  background: #ffffff;
  padding: 20px 13px;
  font-family: "Poppins", sans-serif;
}
.font_cls{
  font-size: 19px;
  text-align: center;
  font-weight: 600;
}

.flex-c {
  display: flex;
  align-items: center;
  margin-top: 6%;
  justify-content: space-between;
}

.check {
  --background: #ffffff;
  --background-checked: #1DA1F2;
  --size: 20px;
  --border-color: #d9d9d9;
  --border-radius: 4px;
  --border-width: 1;
  --border-width: 2px;
  --border-style: solid;
}


