<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <ion-row style="padding: 10px 0px 0px;
    align-items: center;">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/icons/side_menu_icon.svg">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7" style="text-align: center;padding: 0px;">
        <div class="toolbar_heading clr_heading sf_pro_display">Delete Account</div>
      </ion-col>
      <ion-col size="2.6" style="text-align: end;right: 15px;">

      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <div class="font_cls sf_pro_display clr_heading">Why do you want to delete your Countr account?</div>

    <div class="flex-c" *ngFor="let checkboxes of Checkboxes">
      <span class="font_14_500 clr_heading sf_pro_display">{{checkboxes.question}}</span>
      <ion-checkbox mode="md" class="check" [(ngModel)]="checkboxes.isItemChecked"
        (ionChange)="verifyEvent(checkboxes)">
      </ion-checkbox>
    </div>
    <div style="margin-top: 8%;">
      <ion-button expand="block" fill="outline" size="large" class="btn sf_pro_display btn_outline_primary"
        (click)="delete()">Delete</ion-button>
    </div>
  </div>
</ion-content>