<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <div class="header_padding">
      <div class="header">
        <img src="../../assets/images/icons/side_menu_icon.svg" alt="">
        <div class="toolbar_heading clr_heading sf_pro_display">Customer Support</div>
        <img (click)="user.goToNotifications()" src="../../assets/images/icons/bell_icon.svg" alt="">
      </div>
    </div>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background_content">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">customer-support</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="container">
    <div class="center pd_12 bg_F7F8F8 br_14 mgt_20">
      <div class="font_16_500 sf_pro_display clr_heading">Contact Us on</div>
      <div class="font_14_500 sf_pro_display clr_text mgt_6">help@countr.com</div>
      <div class="font_14_500 sf_pro_display clr_text mgt_6">+4126865665</div>
    </div>

    <div class="flex_center space_between pd_12 bg_F7F8F8 br_14 mgt_20" (click)="goForTutorial()">
      <div>
        <div class="font_14_500 sf_pro_display clr_heading">Your Contact Person</div>
        <div class="font_14_500 sf_pro_display clr_text mgt_6">How can I help you?</div>
      </div>
      <img src="../../assets/images/icons/navigate_next.svg" alt="">
    </div>

    <div class="flex_center space_between pd_12 bg_F7F8F8 br_14 mgt_20">
      <div>
        <div class="font_14_500 sf_pro_display clr_heading">Update</div>
        <div class="font_14_500 sf_pro_display clr_text mgt_6">Receive notification on feature updates</div>
      </div>
      <img src="../../assets/images/icons/navigate_next.svg" alt="">
    </div>

    <div class="flex_center space_between pd_12 bg_F7F8F8 br_14 mgt_20" (click)="goForTutorial()">
      <div>
        <div class="font_14_500 sf_pro_display clr_heading">Usage Guidance</div>
        <div class="font_14_500 sf_pro_display clr_text mgt_6">Learn how to use our app in minutes</div>
      </div>
      <img src="../../assets/images/icons/navigate_next.svg" alt="">
    </div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button  class="bg_F7F8F8" (click)="homeTab()">
        <img src="../../assets/images/tab_icons/home_def.svg" alt="">
      </ion-tab-button>
  
      <ion-tab-button  class="bg_F7F8F8" (click)="exploreTab()">
        <img src="../../assets/images/tab_icons/explore_def.svg" alt="">
        
      </ion-tab-button>
  
      <ion-tab-button  class="bg_F7F8F8" (click)="supportTab()">
        <img src="../../assets/images/tab_icons/support_active.svg" alt="">
      </ion-tab-button>
  
      <ion-tab-button  class="bg_F7F8F8" (click)="profileTab()">
        <img src="../../assets/images/tab_icons/profile_def.svg" alt="">
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>
