<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" style=" --background: url({{welcome_bg}})no-repeat center center / cover;
background-size: cover;">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="container">
    <div class="top_div">
      <div class="center">
        <div class="heading poppins">{{welcome_questions}}</div>
        <div class="sub_heading poppins">Questions</div>
      </div>
      <div class="center">
        <div class="heading poppins">{{welcome_users}}</div>
        <div class="sub_heading poppins">Users</div>
      </div>
    </div>

    <div class="center mgt_110">
      <img src="https://www.portal.countr.ai/public/uploads/system_image/{{system_image}}" alt="">
    </div>

    <div>
      <div class="welcome_label center sf_pro_display">{{welcome_heading}}</div>
      <div class="desc_box center sf_pro_display">{{welcome_note}}</div>
      <div class="center">
        <ion-button expand="block" fill="outline" size="large" class="btn sf_pro_display btn_outline_white"
          (click)="goForLogin()">Get Started</ion-button>
      </div>
    </div>
  </div>
</ion-content>