<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">welcome</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="container">
    <div class="top_div">
      <div class="center">
        <div class="heading poppins">100+</div>
        <div class="sub_heading poppins">Questions</div>
      </div>
      <div class="center">
        <div class="heading poppins">200+</div>
        <div class="sub_heading poppins">Users</div>
      </div>
    </div>

    <div class="center mgt_110">
      <img src="../../assets/images/app_logo.svg" alt="">
    </div>

    <div>
      <div class="welcome_label center sf_pro_display">Welcome to CountR</div>
      <div class="desc_box center sf_pro_display">Lorem ipsum dolor sit amet consectetur. Sit lorem enim faucibus cras erat. 
        Vitae curabitur tortor arcu ultrices.</div>
      <div class="center">
        <ion-button expand="block" fill="outline" size="large" class="btn sf_pro_display btn_outline_white" (click)="goForLogin()">Get Started</ion-button>
      </div>
    </div>
  </div>
</ion-content>
