<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <ion-row style="padding: 10px 0px 0px;
    align-items: center;">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/icons/side_menu_icon.svg">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7" style="text-align: center;padding: 0px;">
        <div class="toolbar_heading clr_heading sf_pro_display">Eco CountR</div>
      </ion-col>
      <ion-col size="2.6" style="text-align: end;right: 15px;">
        <img (click)="user.goToNotifications()" src="assets/images/icons/bell_icon.svg">
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">

    <div style="text-align: center;">
      <div class="text1 sf_pro_display">CountR CO2 emissions savings</div>
      <img src="assets/images/numbers.svg" class="cimg">
    </div>
    <div class="box">
      <img src="assets/images/1.png">
      <div style="padding:15px;">
        <div class="title sf_pro_display">Blog Title</div>
        <div class="text2 sf_pro_display">
          Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc
          varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultricellis... <span class="sp1"
            *ngIf="!show" (click)="readmore()">Read
            more</span>
          <span class="sp2" *ngIf="show">
            Fusce volutpat lectus et nisl consectetur finibus. In vitae scelerisque augue, in varius eros. Nunc sapien
            diam, euismod et pretium id, volutpat et tortor. In vulputate lorem quis dui vestibulum, vitae imperdiet
            diam bibendum. Maecenas scelerisque orci a dolor vestibulum sagittis. Etiam quis finibus arcu, vel efficitur
            diam. Curabitur felis eros, vestibulum sed nisi eu, sodales aliquet lacus. Mauris lacinia quam quis feugiat
            laoreet. Etiam lobortis aliquet euismod. Nunc dictum, sapien at egestas rutrum, dui dui fringilla erat, a
            commodo augue augue vel magna. Sed tincidunt ante turpis, rhoncus commodo risus fringilla vel. Maecenas
            lacinia nisl a sem ornare pharetra. Donec imperdiet justo et elementum iaculis

            Fusce volutpat lectus et nisl consectetur finibus. In vitae scelerisque augue, in varius eros. Nunc sapien
            diam, euismod et pretium id, volutpat et tortor. In vulputate lorem quis dui vestibulum, vitae imperdiet
            diam bibendum. Maecenas scelerisque orci a dolor vestibulum sagittis. Etiam quis finibus arcu, vel efficitur
            diam. Curabitur felis eros, vestibulum sed nisi eu, sodales aliquet lacus. Mauris lacinia quam quis feugiat
            laoreet. Etiam lobortis aliquet euismod. Nunc dictum, sapien at egestas rutrum, dui dui fringilla erat, a
            commodo augue augue vel magna. Sed tincidunt ante turpis, rhoncus commodo risus fringilla vel. Maecenas
            lacinia nisl a sem ornare pharetra. Donec imperdiet justo et elementum iaculis.

            Fusce volutpat lectus et nisl consectetur finibus. In vitae scelerisque augue, in varius eros. Nunc sapien
            diam, euismod et pretium id, volutpat et tortor. In vulputate lorem quis dui vestibulum, vitae imperdiet
            diam bibendum. Maecenas scelerisque orci a dolor vestibulum sagittis. Etiam quis finibus arcu, vel efficitur
            diam. Curabitur felis eros, vestibulum sed nisi eu, sodales aliquet lacus. Mauris lacinia quam quis feugiat
            laoreet. Etiam lobortis aliquet euismod. Nunc dictum, sapien at egestas rutrum, dui dui fringilla erat, a
            commodo augue augue vel magna. Sed tincidunt ante turpis, rhoncus commodo risus fringilla vel. Maecenas
            lacinia nisl a sem ornare pharetra. Donec imperdiet justo et elementum iaculis..
          </span>
        </div>
      </div>

    </div>
    <div class="box">
      <img src="assets/images/2.png">
      <div style="padding:15px;">
        <div class="title sf_pro_display">Blog Title</div>
        <div class="text2 sf_pro_display">
          Donec a eros justo. Fusce egestas tristique ultrices. Nam tempor, augue nec tincidunt molestie, massa nunc
          varius arcu, at scelerisque elit erat a magna. Donec quis erat at libero ultricellis... <span class="sp1">Read
            more</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button class="bg_F7F8F8" (click)="homeTab()">
        <img src="../../assets/images/tab_icons/home_def.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="exploreTab()">
        <img src="../../assets/images/tab_icons/explore_def.svg" alt="">

      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="supportTab()">
        <img src="../../assets/images/tab_icons/activeeco.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="profileTab()">
        <img src="../../assets/images/tab_icons/profile_def.svg" alt="">
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>