<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="bg_toolbar">
    <ion-row style="padding: 10px 0px 0px;
    align-items: center;">
      <ion-col size="0.3"></ion-col>
      <ion-col size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <div style="width: 100%">
              <img src="assets/images/icons/side_menu_icon.svg">
            </div>
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>
      <ion-col size="7" style="text-align: center;padding: 0px;">
        <div class="toolbar_heading clr_heading sf_pro_display">Eco CountR</div>
      </ion-col>
      <ion-col size="2.6" style="text-align: end;right: 15px;">
        <img (click)="user.goToNotifications()" src="assets/images/icons/bell_icon.svg">
      </ion-col>

    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">

    <div style="text-align: center;">
      <div class="text1 sf_pro_display">CountR CO2 emissions savings</div>
      <div class="countertext">
        <p class="sf_pro_display">{{countertext}}</p>
      </div>

    </div>

    <div class="box" *ngFor="let item of blogs; let i=index;">
      <img src="https://portal.countr.ai/public/{{item.image}}" style="height: 170px;
      width: 100%;
      object-fit: contain;border-radius: 14px 14px 0px 0px;">
      <div style="padding:15px;">
        <div class="title sf_pro_display">{{item.title}}</div>
        <div class="sf_pro_display">
          <div *ngIf="i !== activeIndex">
            <div class="text2">
              {{item.description}}
            </div>
          </div>

          <div *ngIf="i === activeIndex">
            <div class="text3">
              {{item.description}}
            </div>
          </div>

          <div *ngIf="item.description.length>135">
            <div class="title" style="font-weight: 900;" [class.text3]="i === activeIndex" (click)="readmore(i)">
              <span *ngIf="i !== activeIndex">READ MORE</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-tabs style="display:contents ;">

    <ion-tab-bar class="ion_tab_bar" slot="bottom">

      <ion-tab-button class="bg_F7F8F8" (click)="homeTab()">
        <img src="../../assets/images/tab_icons/home_def.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="exploreTab()">
        <img src="../../assets/images/tab_icons/explore_def.svg" alt="">

      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="supportTab()">
        <img src="../../assets/images/tab_icons/activeeco.svg" alt="">
      </ion-tab-button>

      <ion-tab-button class="bg_F7F8F8" (click)="profileTab()">
        <img src="../../assets/images/tab_icons/profile_def.svg" alt="">
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
</ion-footer>