
.container{
    padding: 25px 30px 35px;
    // margin-bottom: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub_container{
    padding: 14px 14px 14px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}