
.container{
    width: 85%;
    margin: 0% auto;
}

.sub_container{
    padding: 14px 14px 14px;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c-input{
  border: none;
    background: none;
    box-shadow: none;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    outline: none;
    color: #404142
}
