.container{
    padding: 10px 22px 30px;
}
.sub_container{
    padding: 14px 12px 12px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// ion-textarea{
//     --placeholder-color: #A1A3A4 !important;
//     --placeholder-opacity: none !important;
//     --background: white !important;
//     // --padding-start: 12px !important;
//     // --padding-end: 12px !important;
//     // --padding-top: 12px !important;
//     // --padding-bottom: 12px !important;
//     // --border-radius: 12px !important;
//     --placeholder-font-style: normal;
//     --placeholder-font-weight: 500;
//     font-size: 14px !important;
//     --color: black !important;
//     height: auto;
//     max-height: 70px !important;
//     overflow: scroll !important;
// }

// .textarea_div{
//     padding: 12px !important;
//     border-radius: 10px !important;
//     background: white !important;
// }